%h2.section
	= params[:action].capitalize
	= params[:controller].singularize.gsub("_"," ")
%ul.nav.nav-tabs

= form_for([@lab,@lab.system_hosts.build])  do |c|
	.name.control-group
		= c.label :name
		= c.text_field :name, :placeholder => "Host Name" 
	.ip.control-group
		= c.label :ip
		= c.text_field :ip, :placeholder => "Host IP Address" 
	.domain.control-group
		= c.label :domain
		= c.text_field :domain, :placeholder => "Host Domain" 
	.mac.control-group
		= c.label :mac
		= c.text_field :mac, :placeholder => "Host MAC Address" 
	.status.control-group
		= c.label :status
		= c.select :status, options_for_select(SystemHost::STATUS)
	%div.control-group
		= c.submit :class=>"btn btn-info"

= render :partial=>"shared/back"