%h4
	Repositories :
%br
- @repository_groups.each do |repo_group|
	.repository_group
		%label.checkbox
			= check_box_tag "repository_group_ids[]", repo_group.id#, :class => "check-all"
			= repo_group.name

			%br
			%br

			- repo_group.repositories.each do |repo|
				%blockquote
					%p
						= check_box_tag "repository_ids[]", repo.id#, :class => "check-all"
						= repo.name
					%small
						= repo.url
	%br
	%br

/ - if repo_group.status
/ 	= image_tag 'check.png', :title=>" Reachable", :rel => "tooltip"
/ - else
/ 	= image_tag 'delete.png', :title=>" Unreachable", :rel => "tooltip"