%h2.section
	= params[:controller].capitalize

- if flash[:success]   
	.alert.alert-success
		= flash[:success] 
		%a.close{"data-dismiss" => "alert"} &times;
- if flash[:error]   
	.alert.alert-error
		= flash[:error] 
		%a.close{"data-dismiss" => "alert"} &times;

%br
%br

%span.muted.count
	= "Viewing #{@templates.count} of Total #{@templates.count} Templates"
%br
%br

%form.form-search
	.input-prepend
		%button.btn{:type => "text"} 
			%i.icon-search
		%input.span2.search-query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Course code or name"}} 
		


.templates-table
	%table.table-striped.table-bordered.table-hover.templates
		%thead
			%tr
				%th Template Name
				%th Course
				%th Info
				%th Created
				%th.action Action

		%tbody
			- @templates.each do |template|
				%tr
					%td.template_name #{template.name}
					%td.template.course #{template.course.code}:  #{template.course.name}
					%td.info #{template.info}
					%td.created_at #{template.id}
					%td.action
						.btn-group.table-action-button
							=link_to "Edit", edit_template_path(template), :class=>"btn btn-small edit"
							%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
								%span.caret
							%ul.dropdown-menu
								%li 
									= link_to "Delete", template, :confirm => "Destroy template \n #{template.name} ?", :method => :delete, :class=>"delete"

= render :partial=>"shared/back"