%h2.section
	= params[:controller].capitalize

%ul.nav.nav-tabs
.table_info
	%span.muted.count
		= "Viewing #{@templates.count} of Total #{@templates.count} Templates"

		=render :partial=>"shared/alerts"
%br
%ul.nav.nav-tabs

%form.form-search.pull-right
	.input-append
		%input.span2.search-query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Template name"}} 
		%button.btn{:type => "text"} 
			%i.icon-search

.templates-table
	%table.table-striped.table-bordered.table-hover.templates
		%thead
			%tr
				%th Template Name
				%th Course
				%th Info
				%th Created
				%th.action Action

		%tbody
			- @templates.each do |template|
				%tr
					%td.template_name #{template.name}
					%td.template.course #{template.course.code}:  #{template.course.name}
					%td.info #{template.info}
					%td.created_at #{template.id}
					%td.action
						.btn-group.table-action-button
							=link_to "Edit", edit_template_path(template), :class=>"btn btn-small edit"
							%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
								%span.caret
							%ul.dropdown-menu
								%li 
									= link_to template, :confirm => "Destroy template \n #{template.name} ?", :method => :delete, :class=>"delete" do
										%i.icon-trash
										Delete

= render :partial=>"shared/back"