%h2.section
	= params[:action].capitalize
	= params[:controller].singularize

%br
%br

= form_for([@course,@course.templates.build]) do |c|
	%ul.nav.nav-tabs
		%li
			%a{"data-toggle" => "tab", :href => "#basic"} Informations
		%li
			%a{"data-toggle" => "tab", :href => "#kickstart"} KickStart
		%li
			%a{"data-toggle" => "tab", :href => "#puppet"} Puppet
		%li
			%a{"data-toggle" => "tab", :href => "#repositories"} Repositories

	.tab-content
	
		.tab-pane#basic
			.name.control-group
				= c.label :name
				= c.text_field :name, :placeholder => "Template Name" 
			.operating_system.control-group
				= c.label :operating_system_id
				= c.select :operating_system_id, @operating_systems.map { |os| [ "#{os.name} #{os.major}.#{os.minor}", os.id ] }
			.info.control-group
				= c.label :info
				= c.text_area :info, :size => "25x5", :placeholder => "Info about template ..."
		.tab-pane#kickstart
			KickStart
		.tab-pane#puppet
			Puppet
		.tab-pane#repositories
			Repos

	.form-actions
		%div.control-group
			= link_to "Back", :back, :class=>"btn"
			= c.submit :class=>"btn btn-info"

