%h2.section
	= params[:action].capitalize
	= params[:controller].singularize

%br
%br

= form_for([@course,@course.templates.build]) do |param|
	%ul.nav.nav-tabs.pill-tabs-bar.template
		%li
			%a{"data-toggle" => "tab", :href => "#basic"} Informations
		%li
			%a{"data-toggle" => "tab", :href => "#puppet"} Puppet
		%li
			%a{"data-toggle" => "tab", :href => "#repositories"} Repositories

	.tab-content
	
		.tab-pane#basic
			= render :partial => "template_info", :locals => { :c => param }
		.tab-pane#puppet
			= render :partial => "template_puppet"
		.tab-pane#repositories
			= render :partial => "template_repositories"

	.form-actions
		%div.control-group
			= link_to "Back", :back, :class=>"btn"
			= param.submit :class=>"btn btn-info"

