
%h2.section
	%i.icon-group
	= params[:controller].capitalize

.users_list
	.span4
		.students.head
			%h5.students Students:
			%form.form-search
				.input-prepend
					%button.btn{:type => "text"} 
						%i.icon-search
					%input.span2.search-query#students_search{:type => "text", :autocomplete=>"off", :placeholder=>"Find...", :data => {:query_type => "Student email", :table_type => 'students'}} 

		.student-table
			%table.table.students
				%tbody
					-@students.each do |student|
						%tr
							%td.email #{student.email}
							%td.edit
								.btn-group
									%a.btn.btn-small.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
										%i.icon-cog
										%span.caret
									%ul.dropdown-menu
										%li
											=link_to edit_user_path(student) do
												%i.icon-edit
												Edit
										%li
											=link_to user_path(student) do
												%i.icon-bolt
												Reset password
										%li
											=link_to user_path(student), :confirm => "Delete student #{student.email} ?", :method=>'delete' do
												%i.icon-trash
												Delete
										
	.span4
		.lectors.head
			%h5.lectors Lectors:
			%form.form-search
				.input-prepend
					%button.btn{:type => "text"} 
						%i.icon-search
					%input.span2.search-query#lectors_search{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Lector email", :table_type => 'lectors'}} 

		.lector-table
			%table.table.lectors
				%tbody
					-@lectors.each do |lector|
						%tr
							%td.email #{lector.email}
							%td.edit
								.btn-group
									%a.btn.btn-small.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
										%i.icon-cog
										%span.caret
									%ul.dropdown-menu
										%li
											=link_to edit_user_path(lector) do
												%i.icon-edit
												Edit
										%li
											=link_to user_path(lector) do
												%i.icon-bolt
												Reset password
										%li
											=link_to user_path(lector), :confirm => "Delete lector #{lector.email} ?", :method=>'delete' do
												%i.icon-trash
												Delete
	.span4
		.admins.head
			%h5.admins Admins:
			%form.form-search
				.input-prepend
					%button.btn{:type => "text"} 
						%i.icon-search
					%input.span2.search-query#admins_search{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Admin email", :table_type => 'admins'}} 
		.admin-table
			%table.table.admins
				%tbody
					-@admins.each do |admin|
						%tr
							%td.email #{admin.email}
							%td.edit
								.btn-group
									%a.btn.btn-small.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
										%i.icon-cog
										%span.caret
									%ul.dropdown-menu
										%li
											=link_to edit_user_path(admin) do
												%i.icon-edit
												Edit
										%li
											=link_to user_path(admin), :confirm => "Delete admin #{admin.email} ?", :method=>'delete' do
												%i.icon-trash
												Delete
