%h2.section
	= "#{course_seminar(@seminar)} #{params[:controller].capitalize}"
%ul.nav.nav-tabs

%span.muted.count
	= "Viewing #{@lessons.count} of #{@lessons.count} results (#{@lessons.count} Total Templates)"
	= link_to "+ Add Lesson", new_seminar_lesson_path(@seminar), :class=>"btn btn-info lesson-new-path"
%br
%br
%ul.nav.nav-tabs

.seminar-lesson-table
	%table.table-striped.table-bordered.table-hover.lessons
		%thead
			%tr
				%th.number Lesson
				%th.template Template
				%th.start Starts at
				%th.end Ends at
				%th.status Status
				%th.info Info
				%th.action Action
		%tbody
			- @lessons.order("number ASC").each do |lesson|
				%tr
					%td.lesson
						#{lesson.number}
						-#= link_to "#{@course.code}/ #{seminar.seminar_number}", seminar_lessons_path(seminar)
					%td.day #{lesson.template.name}
					%td.starts_at #{lesson.starts_at}
					%td.ends_at #{lesson.ends_at}
					%td.status #{Lesson::STATUS.key(lesson.status)}
					%td.info #{lesson.info}
					%td.action
						.btn-group.table-action-button
							=link_to "Edit", edit_lesson_path(lesson),:class=>"btn btn-small edit"
							%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
								%span.caret
							%ul.dropdown-menu
								%li
									= link_to "Show", lesson_path(lesson), :class=>"lesson-show-path"
								%li
									= link_to "Clone", clone_lesson_path(lesson), :class=>"lesson-clone-path"
								%li 
									= link_to "Delete", lesson, :confirm => "Destroy lesson \n #{lesson.number} ?", :method => :delete, :class=>"delete"

= render :partial=>"shared/back"
