%h2.section
	= "#{course_seminar(@seminar)} #{params[:controller].capitalize}"

%br
%br

%ul.nav.nav-tabs.pill-tabs-bar.lesson
	%li
		%a{"data-toggle" => "tab", :href => "#seminar_lessons"} 
			%i.icon-book
			Seminar Lessons
	%li
		%a{"data-toggle" => "tab", :href => "#seminar_user_list"} 
			%i.icon-group
			Seminar User List
	%li
		%a{"data-toggle" => "tab", :href => "#seminar_info"} 
			%i.icon-info-sign
			Seminar Info

.tab-content
	.tab-pane#seminar_lessons
		= render :partial => "seminar_lessons"

	.tab-pane#seminar_user_list
		= render :partial => "seminar_user_list"

	.tab-pane#seminar_info
		= render :partial => "seminar_info"




= render :partial=>"shared/back"
