
%span.muted.count

	= "Viewing #{@course.seminars.count} of #{@course.seminars.count} results (#{@course.seminars.count} Total Seminars)"
	- if can? :manage, Seminar
		= link_to new_course_seminar_path(@course), :class=>"btn btn-info seminars-new-path" do
			%i.icon-plus-sign
			Add Seminar

%br
%br

.course-seminars-table
	%table.table-striped.table-bordered.table-hover.seminars
		%thead
			%tr
				%th.name Seminar Group
				%th.day Day
				%th.start Starts at
				%th.end Ends at
				%th.lab Lab
				%th.info Info
				- if can? :manage, Seminar
					%th.action Action
		%tbody
			- @course.seminars.order("seminar_number ASC").each do |seminar|
				%tr
					%td.seminar_number 
						= link_to course_seminar(seminar), seminar_lessons_path(seminar)
					%td.day #{Weekday::DAYS.key(seminar.day)}
					%td.starts_at #{seminar.starts_at.strftime("%R")}
					%td.ends_at #{seminar.ends_at.strftime("%R")}
					%td.lab 
					%td.info #{seminar.info}
					- if can? :manage, Seminar
						%td.action
							.btn-group.table-action-button
								=link_to edit_seminar_path(seminar), :class=>"btn btn-small edit" do
									%i.icon-edit
									Edit
								%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
									%span.caret
								%ul.dropdown-menu
									%li 
										= link_to seminar, :confirm => "Destroy seminar \n #{seminar.seminar_number} ?", :method => :delete, :class=>"delete" do
											%i.icon-trash
											Delete