%span.muted.count
	= "Viewing #{@course.templates.count} of #{@course.templates.count} results (#{@course.templates.count} Total Templates)"
	- if can? :manage, Template
		= link_to new_course_template_path(@course), :class=>"btn btn-info template-new-path" do
			%i.icon-plus-sign
			Add Template
%br
%br

.templates-table
	%table.table-striped.table-bordered.table-hover.templates
		%thead
			%tr
				%th Template Name
				%th Info
				%th Created
				- if can? :manage, Template
					%th.action Action

		%tbody
			- @course.templates.each do |template|
				%tr
					%td.template_name #{template.name}
					%td.info #{template.info}
					%td.created_at #{template.created_at}
					- if can? :manage, Template
						%td.action
							.btn-group.table-action-button
								=link_to "Edit", edit_course_template_path(@course,template), :class=>"btn btn-small edit"
								%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
									%span.caret
								%ul.dropdown-menu
									%li 
										= link_to template, :confirm => "Destroy template \n #{template.name} ?", :method => :delete, :class=>"delete" do
											%i.icon-trash
											Delete
