= form_for @course, :html => { :class=>"form-horizontal"} do |c|
	.name.control-group
		= c.label :name
		-#= c.text_field :name, :placeholder => "Name of the course"

		= c.text_field :name, :placeholder => "Name of the course", :title=>" 3 to 50 characters"
	.code.control-group
		= c.label :code
		= c.text_field :code, :placeholder => "Code of the course", :title=>" 3 to 10 characters"
	.seminar_count.control-group
		= c.label :seminars_count
		= c.number_field :seminars_count, :in => 1...31, :placeholder => "Max number of seminar groups", :title=>"up to 30 seminar groups"
	.status.control-group
		= c.label :course_status
		= c.select :status, options_for_select(Course::STATUS)
	%div.control-group
		= c.submit :class=>"btn btn-info"