
%h2.section
	= params[:controller].capitalize
%ul.nav.nav-tabs
.table_info
	%span.muted.count
		= "Viewing #{@courses.count} of Total #{@courses.count} Courses"
		- if can? :manage, Course
			= link_to new_course_path, :class=>"btn btn-info courses-new-path" do
				%i.icon-plus-sign
				Add Course

		=render :partial=>"shared/alerts"
%br

%ul.nav.nav-tabs

%form.form-search.pull-right
	.input-append
		%input.span2.search-query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Course code or name"}} 
		%button.btn{:type => "text"} 
			%i.icon-search



- if can? :manage, Course
	.btn-group.settings
		%a.btn.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
			Action
			%span.caret
		%ul.dropdown-menu
			%li
				%a{:href=>"#"} Edit
			%li
				%a{:href=>root_path} Deactive All
			%li
				%a{:href=>root_path} Delete

%br
%br

.courses-table

	%table.table-striped.table-bordered.table-hover.courses
		%thead
			%tr
				- if can? :manage, Course
					%th.checkbox.check_all
						%label.checkbox
							%input{:type =>"checkbox", :value=>0}

				%th.course_name Course
				%th.status	Status
				%th.seminars Seminar Groups
				%th.labs Labs			
				%th.students Students
				
				%th.last_report Last Report
				- if can? :manage, Course
					%th.action Action
		%tbody

			- @courses.each do |course|

				%tr
					- if can? :manage, Course
						%td.checkbox
							%label.checkbox
								%input{:type =>"checkbox", :value=>0}
					%td.course_name 
						=link_to "#{course.code} : #{course.name}", course_path(course)
					-if Lesson::STATUS.key(course.status) == "Active"
						%td.status 
							%span.label.label-success #{Lesson::STATUS.key(course.status)} 
					-else
						%td.status 
							%span.label.label-important #{Lesson::STATUS.key(course.status)}
					%td.seminars
						=link_to "#{course.seminars.count}", course_path(course)
					%td.labs
					%td.students
					
					%td.last_report 
					- if can? :manage, Course
						%td.action
							.btn-group.table-action-button
								=link_to "Edit", edit_course_path(course), :class=>"btn btn-small edit"
								%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
									%span.caret
								%ul.dropdown-menu
									%li 
										= link_to clone_course_path(course) do
											%i.icon-refresh
											Clone
									%li
										- if course.status == false
											= link_to de_active_course_path(course) do
												%i.icon-play
												Activate
										- else
											= link_to de_active_course_path(course) do
												%i.icon-pause
												Deactivate
									%li 
										= link_to course, :confirm => "Destroy course \n #{course.code}: #{course.name} ?", :method => :delete, :class=>"delete" do
											%i.icon-trash
											Delete
