
%h2.section
	= params[:controller].capitalize
%ul.nav.nav-tabs
.table_info
	%span.muted.count
		= "Viewing #{@courses.count} of Total #{@courses.count} Courses"
		- if can? :manage, Course
			= link_to new_course_path, :class=>"btn btn-info courses-new-path" do
				%i.icon-plus-sign
				Add Course

%br

%ul.nav.nav-tabs

%form.form-search.pull-right
	.input-append
		%input.span2.search-query.basic_seach_query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Course code or name"}} 
		%button.btn{:type => "text"} 
			%i.icon-search


= form_tag multiple_actions_courses_path, :method => :delete do 

	- if can? :manage, Course
		.btn-group.settings
			%a.btn.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
				%icon.icon-cog
				Action
				%span.caret
			%ul.dropdown-menu.action
				%li
					%a
						= button_tag :type=> "submit", :name => "activate_action" , :class => "btn btn-info btn-action" do
							%i.icon-play-circle
							Activate Selected
				%li
					%a
						= button_tag :type=> "submit", :name => "deactivate_action" , :class => "btn btn-info btn-action" do
							%i.icon-pause
							Deactivate Selected
				%li
					%a
						= button_tag :type=> "submit", :name=> "delete_action", :class=> "btn btn-danger btn-action" do
							%i.icon-trash
							Delete Selected
							

	

	%br
	%br

	.courses-table

		%table.table-striped.table-bordered.table-hover.courses
			%thead
				%tr
					- if can? :manage, Course
						%th.checkbox.check_all
							%label.checkbox
								%input{:type =>"checkbox", :value=>0}

					%th.course_name Course
					%th.status	Status
					%th.seminars Seminar Groups
					%th.labs Labs			
					%th.students Students
					
					%th.last_report Last Report
					- if can? :manage, Course
						%th.action Action
			%tbody

				- @courses.each do |course|

					%tr
						- if can? :manage, Course
							%td.checkbox
								%label.checkbox
									= check_box_tag "courses_ids[]", course.id
						%td.course_name 
							=link_to "#{course.code} : #{course.name}", course_path(course)
						-if Lesson::STATUS.key(course.status) == "Active"
							%td.status 
								%span.label.label-success #{Lesson::STATUS.key(course.status)} 
						-else
							%td.status 
								%span.label.label-important #{Lesson::STATUS.key(course.status)}
						%td.seminars
							= course.seminars.count
						%td.labs 
							= course.seminars.collect{|seminar| seminar.lab}.uniq.count
						%td.students
							= course.seminars.collect{|seminar| seminar.users.count}.sum
						%td.last_report 
						- if can? :manage, Course
							%td.action
								.btn-group.table-action-button
									=link_to edit_course_path(course), :class=>"btn btn-small edit" do
										%i.icon-edit
										Edit
									%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
										%span.caret
									%ul.dropdown-menu
										%li
											- if course.status == false
												= link_to de_active_course_path(course) do
													%i.icon-play
													Activate
											- else
												= link_to de_active_course_path(course) do
													%i.icon-pause
													Deactivate
										%li 
											= link_to course, :confirm => "Destroy course \n #{course.code}: #{course.name} ?", :method => :delete, :class=>"delete" do
												%i.icon-trash
												Delete


