%h2.section
	#{@course.code} : #{@course.name}

=render :partial=>"shared/alerts"

%br
%br

%ul.nav.nav-tabs.pill-tabs-bar
	%li
		%a{"data-toggle" => "tab", :href => "#seminar_groups"} Course Seminars
	%li
		%a{"data-toggle" => "tab", :href => "#course_templates"} Course Templates
	%li
		%a{"data-toggle" => "tab", :href => "#course_info"} Course Info

.tab-content
	.tab-pane#seminar_groups
		= render :partial => "course_seminars"

	.tab-pane#course_templates
		= render :partial => "course_templates"

	.tab-pane#course_info
		= render :partial => "course_info"

= render :partial=>"shared/back"