
%h2.section
	%span
		= params[:controller].singularize.capitalize
		info

		.btn-group.table-action-button.pull-right
			=link_to "Edit", edit_course_path(@course), :class=>"btn btn-small edit"
			%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
				%span.caret
			%ul.dropdown-menu
				%li 
					= link_to "Clone", clone_course_path(@course)
				%li 
					= link_to "#{Course::STATUS.key(!@course.status)}", :action => :de_active
				%li 
					= link_to "Delete", @course, :confirm => "Destroy course #{@course.code}: #{@course.name}?", :method => :delete, :class=>"delete"

%ul.nav.nav-tabs

- @course.attributes.each do |k,v|
	%div
		%span 
			-if k == "status"
				%strong #{k.capitalize} :
				#{Course::STATUS.key(v)}
			-else
				%strong #{k.capitalize} :
				#{v}


%ul.nav.nav-tabs

%h3.section
	Sourses seminars