%h2.section
	#{@course.code} : #{@course.name}

%br
%br

%ul.nav.nav-tabs
	%li.active
		%a{"data-toggle" => "tab", :href => "#course_info"} Course Info
	%li
		%a{"data-toggle" => "tab", :href => "#seminar_groups"} Course Seminars
	%li
		%a{"data-toggle" => "tab", :href => "#course_templates"} Course Templates

.tab-content
	.tab-pane.active#course_info
		= render :partial => "course_info"

	.tab-pane#seminar_groups
		= render :partial => "course_seminars"

	.tab-pane#course_templates
		= render :partial => "course_templates"




