
%h2.section
	= params[:controller].capitalize

%ul.nav.nav-tabs
.table_info
	%span.muted.count
		= "Viewing #{@labs.count} of Total #{@labs.count} Labs"
		= link_to new_lab_path, :class=>"btn btn-info labs-new-path" do
			%i.icon-plus-sign
			Add Lab

%br
%ul.nav.nav-tabs

%form.form-search.pull-right
	.input-append
		%input.span2.search-query.basic_seach_query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Lab name"}} 
		%button.btn{:type => "text"} 
			%i.icon-search

= form_tag multiple_actions_labs_path, :method => :delete do

	.btn-group.settings
		%a.btn.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
			%icon.icon-cog
			Action
			%span.caret
		%ul.dropdown-menu.action
			%li
				%a
					= button_tag :type=> "submit", :name => "ready_action" , :class => "btn btn-success btn-action" do
						%i.icon-play-circle
						Ready Selected
			%li
				%a
					= button_tag :type=> "submit", :name => "maintain_action" , :class => "btn btn-warning btn-action" do
						%i.icon-wrench
						Maintain Selected
			%li
				%a
					= button_tag :type=> "submit", :name=> "delete_action", :class=> "btn btn-danger btn-action", :data => {:confirm => "Delete checked labs ?"} do
						%i.icon-trash
						Delete Selected

	%br
	%br
			
	.labs-table

		%table.table-striped.table-bordered.table-hover.labs
			%thead
				%tr
					%th.checkbox.check_all
						%label.checkbox
							%input{:type =>"checkbox", :value=>0}
					%th.name Lab Name
					%th.status	Status
					%th.network Network
					%th.netmask	Netmask
					%th.host_count Hosts
					- if can? :manage, Lab
						%th.action Action
			%tbody
				- @labs.each do |lab|
					%tr
						%td.checkbox
							%label.checkbox
								= check_box_tag "lab_ids[]", lab.id
						%td.name 
							= link_to "#{lab.name}", lab_system_hosts_path(lab)
						-if Lab::STATUS.key(lab.status) == "Maintenance"
							%td.status 
								%span.label.label-warning #{Lab::STATUS.key(lab.status)} 
						-elsif Lab::STATUS.key(lab.status) == "Ready"
							%td.status 
								%span.label.label-success #{Lab::STATUS.key(lab.status)}
						-else
							%td.status 
								%span.label.label-important #{Lab::STATUS.key(lab.status)}
						%td.network #{lab.network}
						%td.netmask #{lab.netmask}
						%td.host_count 
							= lab.system_hosts.count
						- if can? :manage, Lab
							%td.action
								.btn-group.table-action-button
									=link_to edit_lab_path(lab), :class=>"btn btn-small edit" do
										%i.icon-edit
										Edit
									%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to lab_path(lab) do
												%i.icon-tag
												Lab Info
										%li
											= link_to new_lab_system_host_path(lab) do
												%i.icon-plus
												Add Host
										%li 
											= link_to lab, :confirm => "Destroy lab \n #{lab.name} ?", :method => :delete, :class=>"delete" do
												%i.icon-trash
												Delete
