%h2.section
	= "Lab #{@lab.name} Guests"


%ul.nav.nav-tabs

%form.form-search.pull-right
	.input-append
		%input.span2.search-query.basic_seach_query{:type => "text", :placeholder=>"Find...", :data => {:query_type => "Host or Guest name"}} 
		%button.btn{:type => "text"} 
			%i.icon-search

- if can? :manage, Course
	.btn-group.settings
		%a.btn.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
			%icon.icon-cog
			Action
			%span.caret
		%ul.dropdown-menu.action
			%li
				%a
					= button_tag :type=> "submit", :name => "activate_action" , :class => "btn btn-success btn-action" do
						%i.icon-play-circle
						Power On Selected
			%li
				%a
					= button_tag :type=> "submit", :name => "deactivate_action" , :class => "btn btn-danger btn-action" do
						%i.icon-off
						Power Off Selected
			%li
				%a
					= button_tag :type=> "submit", :name=> "delete_action", :class=> "btn btn-info btn-action", :data => {:confirm => "Delete checked courses ?"} do
						%i.icon-refresh.icon-spin
						Re-Provision Selected


%br
%br

.system_guests-table
	%table.table-striped.table-bordered.teble-hover.system_guests
		%thead
			%tr
				- if can? :manage, Course
					%th.checkbox.check_all
						%label.checkbox
							%input{:type =>"checkbox", :value=>0}
				%th.name Name
				%th.url URL
				%th.system_host Host
				%th.os Operating System
				%th.action Action

		%tbody
			- @guests.each do |guest|
				%tr
					- if can? :manage, Course
						%td.checkbox
							%label.checkbox
								= check_box_tag "system_guests_ids[]", guest.id
					%td.name
						- case guest.status
						- when 0
							%a{:href => "", :rel => "tooltip", :title => "Provisioning"}
								= image_tag "spinner.gif",:class => "provisioning"
						- when 1
							%a{:href => "", :rel => "tooltip", :title => "Running"}
								= image_tag "check.png",:class => "running"

						- when 2
							%a{:href => "", :rel => "tooltip", :title => "Down"}
								= image_tag "delete.png",:class => "down"

						- else 
							%a{:href => "", :rel => "tooltip", :title => "Down"}
								= image_tag "delete.png",:class => "down"
						= guest.name
						
					%td.url
					%td.system_host
						= SystemHost.find(guest.system_host_id).name if guest.system_host_id
					%td.os 
						= image_tag "Redhat.png"
						= @os.full_name
					%td.action 
						.btn-group.table-action-button
							= link_to root_path, :class=>"btn btn-small edit" do
								%i.icon-edit
								Edit
							%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
								%span.caret
							%ul.dropdown-menu
								%li 
									- if guest.status == 0 or guest.status == 1
										= link_to "#", :confirm => "Power Off Guest: #{guest.name} ?", :class=>"power_off" do
											%i.icon-off
											Power Off
									- else 
										= link_to "#", :confirm => "Power On Guest\n #{guest.name} ?", :class=>"power_on" do
											%i.icon-play-circle
											Power On
									= link_to "#", :confirm => "Re-Provision Guest\n #{guest.name} ?", :class=>"reprovision" do
										%i.icon-refresh.icon-spin
										Re-Provision
									= link_to "#", :confirm => "Destroy Guest\n #{guest.name} ?", :method => :delete, :class=>"delete" do
										%i.icon-trash
										Delete
%br
%br
%ul.nav.nav-tabs.bottom
= link_to 'Back', seminar_lessons_path(@lesson.seminar)
