%h2.section
	= params[:action].capitalize
	= params[:controller].singularize.capitalize.gsub("_"," ")
%ul.nav.nav-tabs


= form_tag :repository_groups, :method => :post, :class => "new_repository_group" do

	.repository_group_name.control-group
		= label_tag :repository_group_name
		= text_field_tag :repository_group_name

		= label_tag :repository_group_name
		= text_field_tag :repository_group_name

	%ul.nav.nav-tabs

	.initial_field
		.repository_name.control-group
			= label_tag :repository_name
			= text_field_tag :repository_name
		.repository_url.control-group
			= label_tag :repository_url
			= text_field_tag :repository_url

		%ul.nav.nav-tabs

	= button_tag :type => "button", :class => "add_repository_field btn btn-success" do
		%i.icon-plus
		Add repository

	= button_tag :type => "button", :class => "remove_repository_field btn btn-danger" do
		%i.icon-minus
		Remove repository

	%br
	%br
	%br

	= submit_tag "Create Repository Group", :class => "submit_button btn btn-info"

%ul.nav.nav-tabs



= link_to "Back", :back