!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title Katello-Scholar
    = favicon_link_tag 'favicon.png'
    / = javascript_include_tag :all
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body
     
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid.header-container
          = link_to root_path,:class=>"brand" do
            = image_tag "katello-scholar-logo4.png", :class=>"navigation-logo"
            = image_tag "katello-scholar-title.png", :class=>"navigation-title"
    
          .btn-group.pull-right
            
            / %a.btn.btn-info.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
            /   %i.icon-cog
            /   %span.caret
            / %ul.dropdown-menu
            /   %li
            /     =link_to root_path do
            /       %i.icon-cogs
            /       Reset password
            /   %li
            /     =link_to root_path do
            /       %i.icon-signout
            /       Sign in

            =yield


    .container.flash
      - if flash[:notice]   
        .alert.alert-success
          = flash[:notice] 
      - if flash[:alert]   
        .alert.alert-error
          = flash[:alert] 


    %footer.modal-footer.navbar.navbar-fixed-bottom
      %center
        %span.muted.credit Katello-Scholar powered by
        = link_to "Katello.org", "http://www.katello.org"
        and 
        = link_to "TheForeman.org", "http://theforeman.org"
        = image_tag "redhat_footer.png", :class => "pull-right"
    = link_to (image_tag "fork_me.png", :class => "github_link"), "https://github.com/jhadvig/Katello-Scholar"