!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title Katello-Scholar
    = favicon_link_tag 'favicon.png'
    / = javascript_include_tag :all
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = include_gon
    = csrf_meta_tag


  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid.header-container
          = link_to root_path,:class=>"brand" do
            = image_tag "katello-scholar-logo4.png", :class=>"navigation-logo"
            = image_tag "katello-scholar-title.png", :class=>"navigation-title"

          %ul.nav.header

            %li{:class=> ("active" if params[:controller] == 'dashboard')}
              = link_to "Dashboard", dashboard_path
            %li{:class=> ("active" if params[:controller] == 'courses')}
              = link_to "Courses", courses_path
            %li{:class=> ("active" if params[:controller] == 'templates')}
              = link_to "Templates", templates_path


            



          .btn-group.pull-right.settings
            %a.btn.btn-info.dropdown-toggle.user-button{"data-toggle"=>"dropdown", :href =>"#{}"}
              %i.icon-user
              #{current_user.roles.first.name.capitalize}
              %span.caret
            %ul.dropdown-menu
              %li
                =link_to 'Settings'
              %li
                =link_to 'Sign Out', destroy_user_session_path, :method => :delete

          .btn-group.pull-right.notification
            %a.badge.badge-info 8

    .container.maincontainer
      .maincontent
        = yield


    %footer.modal-footer.navbar.navbar-fixed-bottom
      %center
        %span.muted.credit Katello-Scholar powered by
        = link_to "http://www.katello.org/", "http://www.katello.org/"
    / = yield :javascripts_block
    / = yield :extra